.dash {
}
.sidebar{
  height: 100%; /* 100% Full-height */
  display: block;
  position: absolute;
  top: 0; /* Stay at the top */
  left: 0;
  bottom: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  z-index: 10;
}
.navbar{
  z-index: 100;
}
.cssTransforms {
  background-color: #eee;
}

.item {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(232, 230, 230);
  margin-left: 10px;
}

.mask {
  visibility: hidden;
  background-color: black;
  background-size: 100%;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 1000;
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  .button {
    color: white;
    /* font-weight: bold; */
    text-align: center;
    cursor: pointer;
    /* font-family: 'Black Han Sans', sans-serif; */
    /* background-image: url('images/delete.png'); */
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    /* line-height: 50px;    */
  }
}

.chart-select{
}
